g:hover {
  fill: red;
}

.searchybar input[type=text] { /* Lol the name */
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

#pageHeader{

    background-color: rgb(126, 21, 114);
    border-bottom: 20px solid rgb(186, 95, 159);
    padding:0px; 
    z-index: 1;
    position: relative;
    color:white;
    padding: 2%;
    font-family: arial;


}

main {
  display: flex;
  height: 80vh;
  padding: 0;
  margin: 0;
}

.map {
  display: flex;
  width: 80vw;
}

.side-menu {
  display: flex;
  width: 20vw;
  background: lightgray;
  flex-direction: column;
}

/*
.container {
  width:100%;
  height: 300px;
  background: #792aae;
  display: flex;
  align-items: center;
  justify-content:center;
}
*/

.descriptionBox {
  width: 300px;
  background:  rgb(163, 120, 174);
  border-radius: 10px;
  position: absolute;
  padding-top:10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  /* visibility: hidden; */
  z-index: 999;
  
}

.descriptionBox p{
  color:rgb(42, 41, 42);
  font-family:arial;
  
}

.open-descbox {
  visibility: visible;
  top: 50%
}

.descriptionBox h1{
  font-size: 30px;
  margin: 30px 0 10px;
}

.descriptionBox button{
  width: 100%;
  margin-top: 40px;
  background: #1bc796;
  color: #fff;
  border: 0;
  font-size: 20px;
  border-radius: 5px;
}

body {
  /*display: flex;
  flex-direction: row;
  width: 40vw;
  height: 40vh;
  */
  margin: 0;
  padding: 0;
}

main {
  display:flex;
  flex-direction:row;
}

#app {
  width: 75%S;
  height: 100px;
  flex:200%;
}

.search {
  display: flex;
  float: center;
}

.nav input[type=text]{
  background: transparent;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

nav {
  /*overflow: hidden;*/
  display: flex;
  position: absolute;
  opacity: .2;
  background-color: red;
  height: 100vh;
  left: 0;

}

.nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav {
  background: rgba(167, 163, 168, 0.336);
  height: 100vh;
  padding:2%;
  flex: 40%;
}

.nav .search-container {
  float: left;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
}

.nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

}

.nav .search-container button:hover {
  background: #ccc;
}


.toolbar {
  display: flex;
  height: 5rem;
  background: rgba(115, 31, 136, 0.5);
  width: 100vw;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
}

.updownArrow {
  border-style: solid;
  border-radius: 10%;
}